.header {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 5px;
}

.header >span {
    font-size: 10px;
    background-color: #5a6c70;
    border-radius: 5px;
    width: 12px;
    height: 12px;
    display:flex;
    align-items: center;
    justify-content: center;
}
